.navbar-dark .navbar-nav .nav-link{
    color: #6c757d !important;
}

.sb-topnav.navbar-dark #sidebarToggle , .navbar-brand{
    color: #6c757d !important;
}
.navbar {
    background-color: #fff !important;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.25);
}

.sb-sidenav-menu-heading{
    color: #adb5bd!important;
} 
.sb-sidenav .sb-sidenav-menu .nav .nav-link{
    color:#6e768e !important;
    font-weight: 500;

}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon{
    transition: all .2s ease-in-out;
    overflow: hidden;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon img{
    transition: all .2s ease-in-out;
    overflow: hidden;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link:hover .sb-nav-link-icon img{
    width: 30px !important;
}

.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
    background-color: #fff !important;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.25);
}
.sb-sidenav-dark .sb-sidenav-footer {
    background-color: #fff !important;
    box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.25);
    color:#6e768e;
}
.sb-sidenav-collapse-arrow , .sb-nav-link-icon{
    color:#6e768e !important
}
body{
    background-color: #f5f5f5;

}