:root {
    --main_color: #ff3f62;
    --white_color: #fff;
    --black_color: #000;
    --font_cairo: "Cairo", sans-serif;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../../img/imgs/dots.webp);
  }
  /* Main Global */
  
  .box {
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
  }
  .dropdown-item:active {
    color: var(--main_color) !important;
    background-color: var(--white_color) !important;
  }
  a {
    text-decoration: none;
    color: var(--black_color);
    transition: color 0.3s;
    font-family: var(--font_cairo);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  p{line-height: 1.8;}
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  small {
    font-family: var(--font_cairo);
    margin-bottom: 0;
  }
  small {
    color: var(--white_color);
    font-size: 10px;
    font-weight: bold;
    display: block;
  }
  i {
    color: var(--white_color);
    cursor: pointer;
    transition: color 0.3s;
  }
  .fa-angle-down {
    font-size: 15px !important;
    transform: rotate(0);
    transition: all 0.3s;
  }
  .rotate {
    transform: rotate(90deg);
  }
  .fa-times {
    font-size: 25px;
  }
  ul {
    list-style: none;
    margin-bottom: 0px;
    padding: 0;
  }
  .main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
    text-align: center;
  }
  .main-heading h2 {
    font-size: 2.5rem;
    color: var(--main_color);
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .main-heading p {
    font-size: 1rem;
    text-align: center;
    color: #4a4a4a;
  }
  @media (max-width: 767px) {
    .main-heading h2 {
      font-size: 2rem;
    }
  }
  .form-control:focus {
    box-shadow: 0 0 0 0.25rem rgb(236 82 82 / 25%) !important;
    border-color: var(--main_color) !important;
  }
  .form-control::placeholder {
    font-family: var(--font_cairo);
  }
  /* End Main Global */
  #nav{
    height: 73.6px;
    background-color: var(--main_color);
}
  /* Start Nav */
  .navbar,
  #navbar-clone {direction: rtl;}
  .navbar {
    position: absolute;
    width: 100%;
    transition: all 0.5s;
    z-index: 100;
    background: transparent;
  }
  #navbar-clone {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    background-color: var(--white_color);
    box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
    z-index: 100;
  }
  #navbar-clone.is-active {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .navbar .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar .logo img {
    width: 45px;
    margin-left: 0.5rem;
    animation: puls 0.7s linear infinite;
  }
  @keyframes puls {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
    }
  }
  .navbar .logo h3 {
    font-size: 1rem;
    margin-bottom: 2px !important;
    font-weight: bold;
    color: var(--white_color);
  }
  #navbar-clone .logo h3,
  #navbar-clone .logo small {
    color: var(--main_color);
  }
  .navbar .fa-bars {
    font-size: 22px;
  }
  #navbar-clone .fa-bars {
    color: var(--main_color);
  }
  #navbar-clone .fa-angle-down,
  #navbar-clone .fa-times {
    color: var(--black_color);
  }
  #navbar-clone a:hover .fa-angle-down,
  #navbar-clone a:hover .fa-times {
    color: var(--main_color);
  }
  .navbar .links {
    display: flex;
    align-items: center;
  }
  .navbar .links a {
    color: var(--white_color);
    padding: 0.5rem 1rem;
    position: relative;
  }
  #navbar-clone .links a {
    color: var(--black_color);
  }
  #navbar-clone .links a:hover {
    color: var(--main_color);
  }
  .navbar .dropdown-menu a {
    font-size: 0.9rem;
  }
  .navbar .dropdown-menu a:hover {
    color: var(--main_color);
  }
  .navbar .links > li > a::before{
    position: absolute;
    content: "";
    top: 100%;
    height: 2px;
    
    width: 0;
    background-color: var(--white_color);
  }
  .navbar .links > li > a:hover::before {
    animation: moveX 0.3s linear forwards;
  }
  @keyframes moveX {
    0% {
      width: 0;
    }
    100% {
      width: calc(100% - 32px);
    }
  }
  .navbar .btns .btn {
    padding: 0.3rem 1rem;
    margin: 2px;
    font-weight: 600;
    border-radius: 20px !important;
    font-family: var(--font_cairo);
    border: 2px solid var(--white_color);
    color: var(--white_color);
  }
  #navbar-clone .btns .btn {
    background-color: transparent !important;
    border: 2px solid var(--main_color);
    color: var(--main_color);
  }
  .navbar .btns .btn:hover {
    color: var(--black_color) !important;
    background-color: var(--white_color) !important;
  }
  #navbar-clone .btns .btn:hover {
    color: var(--white_color) !important;
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      from(#ff3f62),
      to(#c61469)
    ) !important;
    background: linear-gradient(to top right, #ff3f62, #c61469) !important;
  }
  .navbar .dropdown-menu {
    padding: 0 !important;
    text-align: start !important;
    border: none !important;
  }
  .navbar .dropdown-menu a {
    color: var(--black_color);
  }
  .navbar .dropdown-menu[data-bs-popper] {
    top: 80% !important;
    left: initial;
    margin-top: 0 !important;
  }
  .shadw{
    box-shadow: inset 0px 0px 5px rgb(172 172 172 / 64%);
  }
  .offcanvas .dropdown-menu{
    position: relative !important;
  }
  .navbar .offcanvas-body .canv_links {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  .offcanvas-start {
    width: 300px !important;
  }
  .offcanvas-body {
    display: flex;
    flex-direction: column;
  }
  .offcanvas-header i {
    color: var(--main_color);
  }
  .offcanvas-header .logo h3 {
    color: var(--main_color);
    font-size: 1.2rem;
  }
  .offcanvas-body .canv_links a {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--black_color);
  }
  .offcanvas-body .canv_links a .fa-angle-down {
    color: var(--black_color);
  }
  .offcanvas-body .canv_links i {
    color: var(--main_color);
    font-size: 1.2rem;
  }
  .drop-active {
    color: var(--main_color) !important;
    background-color: #fff !important;
  }
  .offcanvas-body .canv_links .dropdown-item {
    font-size: 0.9rem;
    color: var(--black_color);
  }
  .offcanvas-body .canv_links .dropdown-item:hover {
    color: var(--main_color);
  }
  .offcanvas-body .btns .btn {
    border: 2px solid var(--main_color);
    color: var(--main_color);
  }
  .offcanvas-body .btns .btn:hover {
    color: var(--white_color) !important;
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      from(#ff3f62),
      to(#c61469)
    ) !important;
    background: linear-gradient(to top right, #ff3f62, #c61469) !important;
  }
  /* End Nav */

/* Title */
.title{
    direction: rtl;
}
.title .head h1{
    font-family: 'Cairo', sans-serif;
    font-size: 2rem;
    color: var(--black_color);
}
.title .image img{
    width: 600px;
    border-radius: 10px;
}

.wavy-line{
    width: 70%;
    background-image: url(../../img/imgs/Story-wave.svg);
    background-color: #ffff;
    background-repeat: repeat-x;
    display: block;
    border: none;
    height: 5px !important;
    margin: 0 auto;
    box-sizing: content-box;
    overflow: visible;
    opacity: 1 !important;
}

.info .profile img{
    width: 60px;
    height: 60px;
}

.paragraph p{
    font-size: 16px;
    line-height: 2;
    width: 70%;
}

 p::selection{
    background-color: #FF3F62;
    color: #ffff;
}
 h2::selection{
    background-color: #FF3F62;
    color: #ffff;
}
.time::selection{
    background-color: #FF3F62;
    color: #ffff;
}
span::selection{
    background-color: #FF3F62;
    color: #ffff;
}

.more-news h2{
    font-family: 'Cairo', sans-serif;
    width: 70%;
    margin: auto;
    padding: 40px 0;
}
.more-news h2::selection{
    background-color: #FF3F62;
    color: #ffff;
}

.more-image img{
    width: 600px;
    height: 300px;
    border-radius: 10px;
    transition: all .3s ease-in-out;
}

.more-image img:hover {
    cursor: pointer;
    box-shadow: 7px 7px 15px 3px #0000004d;
    transform: translate3d(0px , -5px , 5px);
}

.more-news p{
    color: #5C5C74;
}
/* End Title */

/* Start footer */
footer {
    background: var(--black_color);
  }
  footer .items {
    text-align: right;
    color: var(--white_color);
  }
  footer .padd {
    padding-top: 0.5rem;
  }
  footer .items h3 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  footer .foot_logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 0.5rem;
  }
  footer .foot_logo img {
    width: 50px;
    margin-left: 0.5rem;
  }
  footer .foot_logo h3 {
    font-size: 1.3rem;
    margin-bottom: 0 !important;
    font-weight: bold;
  }
  footer .links a {
    display: block;
    color: var(--white_color);
    padding: 0.2rem 0;
    font-family: var(--font_cairo);
  }
  footer .links a:hover {
    color: var(--main_color);
  }
  footer form {
    position: relative;
    font-family: var(--font_cairo);
  }
  footer .form-control {
    border: 1px solid #eee !important;
    text-align: end;
    border-radius: 20px;
  }
  footer .form-control:focus {
    box-shadow: 0 0 0 0.25rem #ec407a9c !important;
  }
  footer .form-control::placeholder {
    font-family: var(--font_cairo);
}
  footer .btn {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    font-weight: bold;
    font-family: var(--font_cairo);
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    background: -webkit-gradient(
      linear,
      left bottom,
      right top,
      from(#ff3f62),
      to(#c61469)
    ) !important;
    background: linear-gradient(to top right, #ff3f62, #c61469) !important;
    color: var(--white_color);
  }
  footer .btn:hover {
    color: var(--white_color) !important;
  }
  footer form .btn{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
  }
  .foot_copyright .btn-group .dropdown-menu {
    inset: -70px auto auto !important;
    transform: translate(0) !important;
  }
  .foot_copyright .foot_links {
    display: flex;
    align-items: center;
  }
  .foot_copyright .foot_links i:hover {
    color: var(--main_color);
  }
  footer .foot_copyright .Copyright {
    text-align: end;
    color: var(--white_color);
  }
  footer .foot_copyright .Copyright a {
    color: var(--white_color);
    font-weight: bold;
  }
  footer .foot_copyright .Copyright a:hover {
    color: var(--main_color);
  }
  /* End Footer */

