:root {
  --main_color: #ff3f62;
  --white_color: #fff;
  --black_color: #000;
  --font_cairo: "Cairo", sans-serif;
}
body {
  font-family: var(--font_cairo);
  background-image: url(../../img/backgrounds/dots.webp);
}
/******************************** Main Global ********************************/
.box {
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
}
.dropdown-item:active {
  color: var(--main_color) !important;
  background-color: var(--white_color) !important;
}
a {
  text-decoration: none;
  color: var(--black_color);
  transition: color 0.3s;
  font-family: var(--font_cairo) !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}
p {
  line-height: 1.8;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
small {
  
  margin-bottom: 0;
}
small {
  color: var(--white_color);
  font-size: 10px;
  font-weight: bold;
  display: block;
}
i {
  color: var(--white_color);
  cursor: pointer;
  transition: color 0.3s;
}
.fa-angle-down {
  font-size: 15px !important;
  transform: rotate(0);
  transition: all 0.3s;
}
.rotate {
  transform: rotate(90deg);
}
.fa-times {
  font-size: 25px;
}
ul {
  list-style: none;
  margin-bottom: 0px;
  padding: 0;
}
.main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
  text-align: center;
}
.main-heading h2 {
  font-size: 2rem;
  color: var(--main_color);
  font-weight: bold;
  margin-bottom: 1rem;
}
.main-heading p {
  font-size: 1.2rem;
  text-align: center;
  color: var(--white_color);
}
@media (max-width: 767px) {
  .main-heading h2 {
    font-size: 2rem;
  }
}
.form-control:focus,
.accept:focus {
  box-shadow: 0 0 0 0.25rem rgb(236 82 82 / 25%) !important;
  border-color: var(--main_color) !important;
}
::selection {
  background-color: var(--main_color);
  color: var(--white_color);
}
body::-webkit-scrollbar,
.offcanvas-body::-webkit-scrollbar,
.modal::-webkit-scrollbar {
width: 0.8rem;
}
body::-webkit-scrollbar-track,
.offcanvas-body::-webkit-scrollbar-track,
.modal::-webkit-scrollbar-track  {
background: rgb(250, 207, 207);
}
body::-webkit-scrollbar-thumb,
.offcanvas-body::-webkit-scrollbar-thumb,
.modal::-webkit-scrollbar-thumb {
background-color: var(--main_color);
border-radius: 20px;
border: 5px solid #c6146a31;
}
/******************************** End Main Global ********************************/
.main-heading h2 {
  font-size: 2.5rem;
}
.main-heading p {
  color: #4a4a4a;
}
/* End */
/******************************* Start Navbar *******************************/
.navbar,
#navbar-clone {direction: rtl;}
.navbar {
  position: absolute;
  width: 100%;
  transition: all 0.5s;
  z-index: 100;
  background: transparent;
}
#navbar-clone {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  background-color: var(--white_color);
  box-shadow: 0 0 8px 0 rgb(0 0 0 / 12%);
  z-index: 100;
}
#navbar-clone.is-active {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.navbar .logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.navbar .logo img {
  width: 45px;
  margin-left: 0.5rem;
  animation: puls 0.7s linear infinite;
}
@keyframes puls {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
.navbar .logo h3 {
  font-size: 1rem;
  margin-bottom: 2px !important;
  font-weight: bold;
  color: var(--white_color);
}
#navbar-clone .logo h3,
#navbar-clone .logo small {
  color: var(--main_color);
}
.navbar .fa-bars {
  font-size: 22px;
}
#navbar-clone .fa-bars {
  color: var(--main_color);
}
#navbar-clone .fa-angle-down,
#navbar-clone .fa-times {
  color: var(--black_color);
}
#navbar-clone a:hover .fa-angle-down,
#navbar-clone a:hover .fa-times {
  color: var(--main_color);
}
.navbar .links {
  display: flex;
  align-items: center;
}
.navbar .links a {
  color: var(--white_color);
  padding: 0.5rem 1rem;
  position: relative;
}
#navbar-clone .links a {
  color: var(--black_color);
}
#navbar-clone .links a:hover {
  color: var(--main_color);
}
.navbar .dropdown-menu a {
  font-size: 0.9rem;
}
.navbar .dropdown-menu a:hover {
  color: var(--main_color);
}
.navbar .links > li > a::before{
  position: absolute;
  content: "";
  top: 100%;
  height: 2px;
  
  width: 0;
  background-color: var(--white_color);
}
.navbar .links > li > a:hover::before {
  animation: moveX 0.3s linear forwards;
}
@keyframes moveX {
  0% {
    width: 0;
  }
  100% {
    width: calc(100% - 32px);
  }
}
.navbar .btns .btn {
  padding: 0.3rem 1rem;
  margin: 2px;
  font-weight: 600;
  border-radius: 20px !important;
  
  border: 2px solid var(--white_color);
  color: var(--white_color);
}
#navbar-clone .btns .btn {
  background-color: transparent !important;
  border: 2px solid var(--main_color);
  color: var(--main_color);
}
.navbar .btns .btn:hover {
  color: var(--black_color) !important;
  background-color: var(--white_color) !important;
}
#navbar-clone .btns .btn:hover {
  color: var(--white_color) !important;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(var(--main_color)),
    to(#c61469)
  ) !important;
  background: linear-gradient(to top right, var(--main_color), #c61469) !important;
}
.navbar .dropdown-menu {
  padding: 0 !important;
  text-align: start !important;
  border: none !important;
  height: auto !important;
}
.navbar .dropdown-menu a {
  color: var(--black_color);
}
.navbar .dropdown-menu[data-bs-popper] {
  top: 80% !important;
  left: initial;
  margin-top: 0 !important;
}
.shadw{
  box-shadow: inset 0px 0px 5px rgb(172 172 172 / 64%);
}
.offcanvas .dropdown-menu{
  position: relative !important;
}
.navbar .offcanvas-body .canv_links {
  padding: 0;
  display: flex;
  flex-direction: column;
}
.offcanvas-start {
  width: 300px !important;
}
.offcanvas-body {
  display: flex;
  flex-direction: column;
}
.offcanvas-header i {
  color: var(--main_color);
}
.offcanvas-header .logo h3 {
  color: var(--main_color);
  font-size: 1.2rem;
}
.offcanvas-body .canv_links a {
  display: block;
  font-size: 1rem;
  padding: 0.5rem;
  color: var(--black_color);
}
.offcanvas-body .canv_links a .fa-angle-down {
  color: var(--black_color);
}
.offcanvas-body .canv_links i {
  color: var(--main_color);
  font-size: 1.2rem;
}
.drop-active {
  color: var(--main_color) !important;
  background-color: var(--white_color) !important;
}
.offcanvas-body .canv_links .dropdown-item {
  font-size: 0.9rem;
  color: var(--black_color);
}
.offcanvas-body .canv_links .dropdown-item:hover {
  color: var(--main_color);
}
.offcanvas-body .btns .btn {
  border: 2px solid var(--main_color);
  color: var(--main_color);
}
.offcanvas-body .btns .btn:hover {
  color: var(--white_color) !important;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(var(--main_color)),
    to(#c61469)
  ) !important;
  background: linear-gradient(to top right, var(--main_color), #c61469) !important;
}
/*************************** Active for Nav Links ***************************/
.Active_Links{
  color: #96001c !important;
}
.Nav_Clone_Active_Links{
  color: var(--main_color) !important;
}
/*************************** End Active for Nav Links ***************************/

/******************************** For Loading ********************************/
.loading {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(var(--main_color)),
    to(#c61469)
  ) !important;
  background: linear-gradient(to top right, #ff264d, #c61469) !important;
  z-index: 999999999999999;
  display: flex;  
}
.loading img{
  width: 75px;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

/********************************End For Loading ********************************/
/* Start Spinner */
.spinner{
  visibility: hidden;
  position: fixed;
  inset: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999999;
  background-color: #000000f5;
  
}
.spinner.show {
  visibility: visible;
}
/* End Spinner */

/* Story Story */
.Story {
  background-image: url("../../img/imgs/subheader.svg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--white_color);
  height: 350px;
  margin-bottom: -25px;
}

.Story .title h2 {
  font-family: var(--font_cairo);
  font-size: 50px;
}

/* End Story */

.testimonial_section {
  padding: 5rem 0;
  background-color: #020d26;
  display: block;
  overflow: hidden;
}
.testimonial_section:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content{direction: rtl;}  

.testimonial_section .about_content .layer_content .section_title {
  margin-bottom: 24px;
  position: relative;
}
.testimonial_section .about_content .layer_content .section_title:after {
  display: block;
  clear: both;
  content: "";
}
.testimonial_section .about_content .layer_content .section_title h5 {
  color: var(--white_color);
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
  color: #818a8f;
  margin-top: -5px;
  margin-bottom: 6px;
}
.testimonial_section .about_content .layer_content .section_title h3 {
  font-size: 30px;
  line-height: 50px;
  padding-bottom: 51px;
  margin-bottom: 0px;
  color: var(--white_color);
}
.testimonial_section .about_content .layer_content .section_title h2 strong {
  font-weight: 600 !important;
  width: 100%;
  display: block;
}
.testimonial_section
  .about_content
  .layer_content
  .section_title
  .heading_line {
  position: relative;
}
.testimonial_section
  .about_content
  .layer_content
  .section_title
  .heading_line
  span {
  transition: all 0.5s ease-in-out 0s;
  position: relative;
}
.testimonial_section
  .about_content
  .layer_content
  .section_title
  .heading_line:after {
  content: "";
  right: 0;
  margin-left: 0;
  position: absolute;
  bottom: 28px;
  width: 59px;
  border-bottom-width: 3px;
  border-bottom-style: solid;
  border-bottom-color: var(--main_color);
}
.testimonial_section .about_content .layer_content .section_title p {
  color: var(--white_color);
  margin: 0 0 15px;
}
.testimonial_section .about_content .layer_content a {
  color: var(--white_color);
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}
.testimonial_section .about_content .layer_content a i {
  font-size: 18px;
  vertical-align: middle;
}
.testimonial_section .about_content .layer_content a:hover {
  color: var(--main_color);
}

    .testimonials {
    position: relative;
    text-align: center;
    padding: 2rem;
    background-color: var(--main_color);
    height: 100%;
  }
    .testimonials
    .testimonial_content {
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.13);
    padding: 45px 40px 45px 40px;
    position: relative;
    background-color: var(--white_color);
    height: 100%;
  }
    .testimonials
    .testimonial_content
    .testimonial_caption {
    margin-bottom: 15px;
    position: relative;
  }
    .testimonials
    .testimonial_content
    .testimonial_caption:after {
    content: "";
    width: 30px;
    display: block;
    height: 2px;
    text-align: center;
    left: 46%;
    margin-top: 6px;
    background-color: var(--main_color);
    position: absolute;
  }
    .testimonials
    .testimonial_content
    .testimonial_caption
    h6 {
    padding-top: 0;
    margin-bottom: -5px;
    font-size: 19px;
    font-weight: 600;
    line-height: 24px;
    color: #020d26;
  }
    .testimonials
    .testimonial_content
    .testimonial_caption
    span {
    font-size: 12px;
    color: #9f9f9f;
    margin: 0;
  }
    .testimonials
    .testimonial_content
    p {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #5d6576;
    font-style: italic;
  }
    .images_box
    .testimonial_img {
    border: none;
    position: absolute;
    left: 20px;
    top: 20px;
  }
    .images_box
    img {
    border: 4px solid var(--white_color);
    box-shadow: 5px 5px 15px 0 rgb(0 0 0 / 40%);
    border-radius: 50%;
    width: 90px;
    transition: all 0.3s;
  }
  @media (min-width:400px)  and  (max-width:992px) {
    .images_box
    img {

    width: 85px;
    }
  }
  @media (max-width:400px){
    .images_box
    img {

    display: none;
    }
  }
  .btn-send {
    font-family: var(--font_cairo);
    width: fit-content;
    background-color: var(--main_color);
    color: var(--white_color) !important;
    padding: 0.3rem 1.5rem;
    font-size: 15px;
    border-radius: 20px;
    margin-left: 10px;
    border: 0;
    transition: background-color 0.3s linear;
  }
  .btn-send:hover {
    background-color: #eb3557;
  }
/* -------------------------model---------------------------- */

.modal-content {
  position: relative;
  display: flex;
  /* align-items: center;
    justify-content: center; */
  flex-direction: column;
  width: 400px;
  height: 300px;
  pointer-events: auto;
  background-color: transparent;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
  outline: 0;
  border-radius: 10px;
}
.modal-header {
  background-color: var(--main_color);
}

.btn-accept {
  background-color: var(--main_color);
  color: var(--white_color);
}
.btn-accept:hover {
  background-color: var(--main_color);
  color: var(--white_color);
}

/* -------------------------model---------------------------- */
/* Start Yes */
.Yes .comm-head{
  background-color: var(--main_color);
}
.Yes .comm-footer a{
  border: 0;
  border-radius: 20px;
  padding: 0.2rem 1.2rem;
  background: var(--main_color);
  color: var(--white_color) !important;
  font-size: 13px;
  border: 2px solid var(--main_color);
  transition: all 0.3s linear;
}
.Yes .comm-footer a:hover{
  background-color: var(--white_color);
  border: 2px solid var(--black_color);
  color: black !important;
}
/* End Yes */
/***************************** End Modal ****************************/
/* ////////////////////////////////// */
.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 100%;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: var(--white_color);
    color: var(--main_color);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
  }
  
  .login-box h3 {
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
  }
  
  .login-box .user-box {
    position: relative;
  }

  .form-floating{
    direction: rtl;}
 .form-floating textarea{
    border: none;
    border-bottom: 1px solid #a9abac;
    background-color: transparent!important;
    border-radius: 0%;
    resize: none;
}
.form-floating label {
    color: #cecece;
    font-size: 14px;
    font-weight: 600;
    position: absolute;
    pointer-events: none;
    right: 0.3125em;
    top: -0.375em;
    transition: all .2s ease;
    -moz-transition: .2s ease all;
    -webkit-transition: all .2s ease;
}
.form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label {
  opacity: .65;
  transform: scale(.85) translateY(-0.5rem) translateX(3rem) !important;
}
.update,.delete{
  font-family: var(--font_cairo);
  width: fit-content;
  background-color: var(--main_color);
  color: var(--white_color) !important;
  padding: 0.5rem 1.7rem;
  font-size: 15px;
  border-radius: 20px;
  border: 0;
  transition: background-color 0.3s linear;
}
.delete{
  background-color:gray;
}
/******************************** Start footer ********************************/
footer {
  background: var(--black_color);
}
footer .items {
  text-align: right;
  color: var(--white_color);
}
footer .padd {
  padding-top: 0.5rem;
}
footer .items h3 {
  font-size: 1.3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
footer .foot_logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
}
footer .foot_logo img {
  width: 50px;
  margin-left: 0.5rem;
}
footer .foot_logo h3 {
  font-size: 1.3rem;
  margin-bottom: 0 !important;
  font-weight: bold;
}
footer .links a {
  display: block;
  color: var(--white_color);
  padding: 0.2rem 0;
  
}
footer .links a:hover {
  color: var(--main_color);
}
footer form {
  position: relative;
  
}
footer .form-control {
  border: 1px solid #eee !important;
  text-align: end;
  border-radius: 20px;
}
footer .form-control:focus {
  box-shadow: 0 0 0 0.25rem #ec407a9c !important;
}
footer .btn {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: bold;
  
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
  background: -webkit-gradient(
    linear,
    left bottom,
    right top,
    from(var(--main_color)),
    to(#c61469)
  ) !important;
  background: linear-gradient(to top right, var(--main_color), #c61469) !important;
  color: var(--white_color);
}
footer .btn:hover {
  color: var(--white_color) !important;
}
footer form .btn{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.foot_copyright .btn-group .dropdown-menu {
  inset: -70px auto auto !important;
  transform: translate(0) !important;
}
.foot_copyright .foot_links {
  display: flex;
  align-items: center;
}
.foot_copyright .foot_links i:hover {
  color: var(--main_color);
}
footer .foot_copyright .Copyright {
  text-align: end;
  color: var(--white_color);
}
footer .foot_copyright .Copyright a {
  color: var(--white_color);
  font-weight: bold;
}
footer .foot_copyright .Copyright a:hover {
  color: var(--main_color);
}
/******************************** End footer ********************************/

/* Btn Up */
#btnUp{
  position: fixed;
  bottom: 15px;
  right: 20px;
  padding: 0.3rem 0.5rem;
  display: none;
  z-index: 99999;
  background:  var(--main_color) !important;
}
#btnUp:hover{
  background: #dc3546b2 !important;
}
/* End */